@model IEnumerable<ShopApp.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<form class="col-3 mt-4">
    <input type="text" id="search_user_name" class="form-control" placeholder="Search User" aria-label="Search" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-user_name="@item.Username" id="tr-@item.Id" data-action="row">
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr data-user_name="@it">
        }
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.js"></script>

@section scripts
    {
    <script>
        $(document).ready(function () {


            $.ajax({
                url: '@Url.Action("get_users", "API")',
                type: "Get",
                dataType: "json",
                success: function (data) {
                    Init(data);

                }
            });
        });

        const arr_userNames = [];
        const search_inp = document.getElementById("search_user_name");
        search_inp.addEventListener("keyup", filter_user_name);

        function Init(data) {
            for (var i = 0; i < data.length; i++) {
                arr_userNames.push(data[i]);
            }
        }

        function filter_user_name(e) {
            const text = e.target.value.toLowerCase();
            const id_toShow = [];
            const id_toHide = [];
            if (text != "") {
                arr_userNames.forEach(i => {
                    var rows = document.querySelectorAll("[data-action='row']");
                    if (i.toLowerCase().indexOf(text) != -1) {
                        rows.forEach(r => {
                            var id = "#" + r.id;
                            if ($(id).data('user_name') == i) {
                                id_toShow.push(id);
                            }
                            else {
                                id_toHide.push(id);
                            }
                        });
                        id_toHide.forEach(i => {
                            $(i).hide();
                        });

                        id_toShow.forEach(i => {
                            $(i).show();
                        });
                    }
                });
            }
            else {
                var rows = document.querySelectorAll("[data-action='row']");
                rows.forEach(r => {
                    var id = "#" + r.id;
                    $(id).show();
                });

            }
        }
    </script>
}
