@model IEnumerable<ShopApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



<form class="col-3 mt-4">
    <input type="text" id="search_user_name" class="form-control" placeholder="Search Category" aria-label="Search" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.imagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsinStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-user_name="@item.Name" id="tr-@item.Id" data-action="row">
                <td>
                    <img class="rounded" src="@item.imagePath" width="40">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsinStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script src="~/lib/jquery/dist/jquery.js"></script>


@section scripts
    {
    <script>
        $(document).ready(function () {


            $.ajax({
                url: '@Url.Action("get_products", "API")',
                type: "Get",
                dataType: "json",
                success: function (data) {
                    Init(data);

                }
            });
        });

        const arr_userNames = [];
        const search_inp = document.getElementById("search_user_name");
        search_inp.addEventListener("keyup", filter_user_name);

        function Init(data) {
            for (var i = 0; i < data.length; i++) {
                arr_userNames.push(data[i]);
            }
        }

        function filter_user_name(e) {
            const text = e.target.value.toLowerCase();
            const id_toShow = [];
            const id_toHide = [];
            if (text != "") {
                arr_userNames.forEach(i => {
                    var rows = document.querySelectorAll("[data-action='row']");
                    if (i.toLowerCase().indexOf(text) != -1) {
                        rows.forEach(r => {
                            var id = "#" + r.id;
                            if ($(id).data('user_name') == i) {
                                id_toShow.push(id);
                            }
                            else {
                                id_toHide.push(id);
                            }
                        });
                        id_toHide.forEach(i => {
                            $(i).hide();
                        });

                        id_toShow.forEach(i => {
                            $(i).show();
                        });
                    }
                });
            }
            else {
                var rows = document.querySelectorAll("[data-action='row']");
                rows.forEach(r => {
                    var id = "#" + r.id;
                    $(id).show();
                });

            }
        }
    </script>
}
