@model ShopApp.Models.Cart

@{
    ViewData["Title"] = "UserCart";
}

<h1>UserCart</h1>


@{var user = Context.User.Identity.Name;}

<html>

<div class="form-control">
    <label for="cart_total_qty">Qty</label>
    <span id="cart_total_qty" class="badge bg-success" data-action="cartQty" data-user="@Context.User.Identity.Name" data-qty="@Model.getProductQty()">@Model.getProductQty()</span>

</div>

<div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            #Index
                        </th>
                        <th>
                            Product img

                        </th>
                        <th>
                            Product Name
                        </th>

                        <th>
                            Product category

                        </th>
                        <th>
                            Product price
                        </th>
                        <th>
                            Total price
                        </th>

                        <th>
                            Remove

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{int index = 0;
                        double sum = 0;}
                    @for (int i = 0; i < Model.lines.Count(); i++)
                    {
                        var item = Model.lines[i].product;
                        var itemqty = Model.lines[i].qty;
                        var price = Model.lines[i].product.Price;
                        var totalPrice = price * itemqty;
                        sum += totalPrice;
                        index++;
                        <tr id="line-pro-@item.Id" data-action="row" data-proid="@item.Id" data-qty="@itemqty">
                            <td>
                                #@index
                            </td>
                            <td>
                                <img class="rounded" src="@item.imagePath" width="40">
                            </td>
                            <td>
                                <label>
                                    @item.Name
                                    <strong id="qty-strong-@item.Id" data-action="qty" data-proid="@item.Id">
                                        x @itemqty
                                    </strong>
                                </label>

                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                <label id="total_price_@item.Id" data-proactive="true" data-proid="@item.Id" data-action="totalPrice" data-price="@price">@totalPrice</label>
                            </td>
                            <td>
                                <button type="button" data-userid="@Model.User.Username" id="removeBtn-@item.Id" data-name="@item.Name" data-action="Remove_From_Cart" data-productid="@item.Id" class="btn btn-danger">X</button>
                            </td>
                        </tr>
                    }

                </tbody>

            </table>

            <label>
                Total Price:
                <strong id="totalPricestrong">
                    @sum
                </strong>
            </label>

        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" id="mod_btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            CheckOut
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cart of @Model.User.Username</h5>
                    </div>
                    <div class="modal-body">
                        <div class="payment-info">
                            <div class="d-flex justify-content-between align-items-center"><span>Card details</span></div><span class="type d-block mt-3 mb-1">Card type</span><label class="radio">
                                <input type="radio" name="card" value="payment" checked> <span><img width="30" src="https://img.icons8.com/color/48/000000/mastercard.png" /></span>
                            </label>
                            <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://img.icons8.com/officel/48/000000/visa.png" /></span> </label>
                            <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://img.icons8.com/ultraviolet/48/000000/amex.png" /></span> </label>
                            <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://img.icons8.com/officel/48/000000/paypal.png" /></span> </label>
                            <div><label class="credit-card-label">Name on card</label><input type="text" class="form-control credit-inputs" placeholder="Name"></div>
                            <div><label class="credit-card-label">Card number</label><input type="text" class="form-control credit-inputs" placeholder="0000 0000 0000 0000" id="credit_num"></div>
                            <div class="row">
                                <div class="col-md-6"><label class="credit-card-label">Date</label><input type="text" class="form-control credit-inputs" placeholder="12/24"></div>
                                <div class="col-md-6"><label class="credit-card-label">CVV</label><input type="text" class="form-control credit-inputs" placeholder="342"></div>
                            </div>
                            <hr class="line">
                            <div class="d-flex justify-content-between information"><span>Total price</span><strong id="total_price_payment">$ @Model.getTotalPrice()</strong></div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="done">Save changes </button>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</html>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script src="~/js/UserCart.js"></script>




@section scripts
    {
    <script>

        $("#mod_btn").click(e => {
            $("#exampleModal").modal();
        });

        $(document).ready(function () {


            const sett1 = {
                post_remove_fromCart: "@Url.Action("Remove_From_Cart", "Carts")",
                data_action: "Remove_From_Cart",
            }
            init(sett1);
            console.log(sett1);
        });
    </script>

    <script>
        $(document).ready(function () {

            console.log("READY");

            const url = {
                get_cartQty: "@Url.Action("getProductQty", "API")",
                done: "@Url.Action("Submit", "Carts")",
            }

            var cart = document.getElementById('cart_total_qty');
            var userNameCart=$("#cart_total_qty").data('user');
            $.ajax({
                type: "GET",
                url: url.get_cartQty,
                data: { userName: userNameCart },
                success: function (data) {
                    console.log("data");
                    console.log(data);
                    cart.innerHTML = data;
                    $("#cart_total_qty").data('qty',data);

                }
            });

            console.log("DONE");


            $("#done").click(e => {
                $.ajax({
                    type: "Post",
                    url: url.done,
                    data: { userName: userNameCart },
                    success: function (data) {


                        alert("Thanks For Buying!");

                    }

                });

            setTimeout(() => { window.location.href = "@Url.Action("Index", "Home")"; }, 1000);

            });
        });
    </script>
}
